@font-face {
    font-family: "WebSymbolsRegular";
    src: url('../../../assets/fonts/WebSymbols-Regular.otf');
    font-weight: normal;
    font-size: normal;
}
.icon{
    font-family: 'WebSymbolsRegular';
    color: #000000;
}
/*Footer*/
footer {
    background-color: #fbe6ff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

.terms a {
    text-decoration: none;
    color: #333;
    margin-right: 1px; /* Ajusta el margen derecho para separar de los iconos */
}

.social-icons a {
    margin-left: 10px;
}

  