<footer>
    <div class="footer-content">
        <div class="copyright">
            &copy; Horizon Jet 2023
        </div>
        <div class="terms">
            <a href="#">Términos y Condiciones</a>
        </div>
        <div class="separator"></div>
        <div class="social-icons">
            <a href="#" class="icon">f</a>
            <a href="#" class="icon">t</a>
            <a href="#" class="icon">l</a>
            <a href="#" class="icon">g</a>
        </div>
    </div>
</footer>
