@font-face {
    font-family: "WebSymbolsRegular";
    src: url('../../../assets/fonts/WebSymbols-Regular.otf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "BlackOpsOne";
    src: url('../../../assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Footer*/
footer {
    background-color: #fbe6ff;
    padding: 20px 0;
}

.footer-content {
    max-width: 90%;
    margin: 0 auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    display: flex;
    color: rgba(0, 9, 40, 0.83);
    text-align: center;
    font-family: BlackOpsOne;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyright a{
    display: flex;
    color: rgba(0, 0, 0, 0.63);
    text-align: center;
    font-family: BlackOpsOne;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 5px;
}

.icon{
    font-family: 'WebSymbolsRegular';
    color: #000000;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social-icons a {
    margin-left: 10px;
    font-size: 25px;
}

  