<app-cabecera></app-cabecera>
<div class="container cuerpo">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <mat-card class="tarjeta cuerpo-primera">
        <mat-card-header class="justify-content-center mb-5">
          <mat-card-title class="titulo-primera">Primera Clase</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <p><span><mat-icon class="icon">shopping_bag</mat-icon></span> 1 maleta de mano.</p>
          <p><span><mat-icon class="icon">luggage</mat-icon></span> 1 Equipaje de bodega (23 kg)</p>
          <p><span><mat-icon class="icon">emoji_flags</mat-icon></span> Acumula LifeMiles</p>
          <p>
            <span>
              <mat-icon class="icon">airplane_ticket</mat-icon>
            </span> 
            Check-in gratis en aeropuerto 
            <br><p class="cursiva"><i>Hasta 60 min antes del vuelo</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">airline_seat_recline_extra</mat-icon>
            </span> 
            Asiento Plus 
            <br><p class="cursiva"><i>Mayor comodidad en filas delanteras</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">update</mat-icon>
            </span> 
              Cambios de vuelo
              <br><p class="cursiva"><i>Ilimitados antes de la salida</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">workspace_premium</mat-icon>
            </span> 
              Abordaje prioritario
              <br><p class="cursiva"><i>Sé de los primeros en subir al avión</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">currency_exchange</mat-icon>
            </span> 
              Reembolsos
              <br><p class="cursiva"><i>Permitidos antes de la salida</i></p>
          </p>         

        </mat-card-content>
        <mat-card-actions class="justify-content-center">
          <div class="d-flex flex-column">
            <button mat-button class="boton-primera" (click)="guardarClaseVueloPrimera()">${{precioPrimeraClase}}</button>
            <p class="text-center mt-2" style="font-size: 10px;"><i>Precio por pasajero</i></p>
          </div>
        </mat-card-actions>
        
      </mat-card>
    </div>

    <br>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <mat-card class="tarjeta cuerpo-turista">
        <mat-card-header class="justify-content-center mb-5">
          <mat-card-title class="titulo-turista">Clase Turista</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <p><span><mat-icon class="icon">shopping_bag</mat-icon></span> 1 maleta de mano.</p>
          <p><span><mat-icon class="icon">luggage</mat-icon></span> 1 Equipaje de bodega (23 kg)</p>
          <p><span><mat-icon class="icon">emoji_flags</mat-icon></span> Acumula LifeMiles</p>
          <p>
            <span>
              <mat-icon class="icon">airplane_ticket</mat-icon>
            </span> 
            Check-in en aeropuerto 
            <br><p class="cursiva"><i>Servicio con costo adicional</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">attach_money</mat-icon>
            </span> 
            Asiento Economy 
            <br><p class="cursiva"><i>Desde $5.00 USD</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">attach_money</mat-icon>
            </span> 
              Cambios de vuelo
              <br><p class="cursiva"><i>Antes de la salida desde $28.00 USD</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">attach_money</mat-icon>
            </span> 
              Abordaje prioritario
              <br><p class="cursiva"><i>Servicio con cargo adicional</i></p>
          </p>
          <p>
            <span>
              <mat-icon class="icon">close</mat-icon>
            </span> 
              Reembolsos
              <br><p class="cursiva"><i>No permitidos</i></p>
          </p>

        </mat-card-content>
        <mat-card-actions class="justify-content-center">
          <div class="d-flex flex-column">
            <button mat-button class="boton-turista" (click)="guardarClaseVueloTurista()">${{precioClaseTurista}}</button>
            <p class="text-center mt-2" style="font-size: 10px;"><i>Precio por pasajero</i></p>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-pie></app-pie>