.cuerpo{
    width: 60%;
    padding: 20px;
}
/*.cuerpo-primera{
    
    width: 65%;
    padding-right: 5px;
    padding-left: 15px;
}
.cuerpo-turista{
  
    width: 65%;
    padding-left: 15px;
    padding-right: 5px;
}*/
.tarjeta{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #000;
    background: rgba(7, 26, 75, 0.02);
}

.titulo-primera{
    color: #071A4B;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titulo-turista{
    color: #2361FF;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span{
    margin-right: 20px;
}

.icon {
    font-size: 27px;
    margin-bottom: -6px;
}

.cursiva{
    margin-left: 48px;
    font-size: 10px;
}

p{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.boton-primera{
    border-radius: 5px;
    border: 1px solid #110A5F;
    background: rgba(7, 26, 75, 0.82);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    width: 150px;
    height: 40px;
}

.boton-primera:hover{
    background: rgba(55, 74, 124, 0.82);
}

.boton-turista{
    border-radius: 5px;
    border: 1px solid #110A5F;
    background: rgba(35, 97, 255, 0.82);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    width: 150px;
    height: 40px;
}

.boton-turista:hover{
    background: rgba(97, 137, 239, 0.82);
}
