
<h1>Formulario de Datos de Vuelo</h1>
    <form action="/procesar_formulario" method="post">
        <label for="plane_id">Plane ID (UUID4):</label>
        <input type="text" id="plane_id" name="plane_id" required><br>

        <label for="pilot_id">Pilot ID (UUID4):</label>
        <input type="text" id="pilot_id" name="pilot_id" required><br>

        <label for="airport_origin_id">Airport Origin ID (UUID4):</label>
        <input type="text" id="airport_origin_id" name="airport_origin_id" required><br>

        <label for="airport_destination_id">Airport Destination ID (UUID4):</label>
        <input type="text" id="airport_destination_id" name="airport_destination_id" required><br>

        <label for="cost">Cost:</label>
        <input type="number" step="0.01" id="cost" name="cost" required><br>

        <label for="costa">Costa:</label>
        <input type="number" step="0.01" id="costa" name="costa" required><br>

        <label for="costb">Costb:</label>
        <input type="number" step="0.01" id="costb" name="costb" required><br>

        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" required><br>

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" required><br>

        <label for="departure">Departure:</label>
        <input type="datetime-local" id="departure" name="departure" required><br>

        <label for="arrival">Arrival:</label>
        <input type="datetime-local" id="arrival" name="arrival" required><br>

        <label for="direct">Direct Flight:</label>
        <input type="checkbox" id="direct" name="direct"><br>

        <input type="submit" value="Enviar">
    </form>