<nav class="navbar header-content">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img src="../../../assets/fotos/Logo_blanco.png" alt="Logo" class="d-inline-block align-text-top">
      <div class="header-text">
        <h2>Horizon Jet</h2>
        <p>volando hacia nuevos horizontes</p>
      </div>
    </a>
    <div class="login">
      <div class="login-image">
        <img src="../../../assets/iconos/login.png" alt="Login">
      </div>
      <a class="header-text inicio-sesion" href="#">Inicio Sesión</a>
    </div>
  </div>
</nav>