<nav class="sticky top-0 w-full z-10 bg_gradient_purple">
    <ul class="flex justify-between items-center px-4 py-3  w_standard mx-auto">
        <li class="flex justify-center items-center gap-4">
            <section class="flex justify-center items-center group">
                <a href="/" class="">
                    <img class="duration-300 group-hover:drop-shadow-[1px_1px_10px_#ffffff] w-16 cursor-pointer object-contain"
                        src="../../../assets/images/logo_white.png" alt="">
                </a>
                <section class="text-slate-100">
                    <h1>Horizon Jet</h1>
                    <p class="text-sm secondary_font">Volando hacia nuevos horizontes</p>
                </section>
            </section>
            <section class=" text-slate-100 flex justify-center items-center gap-2 duration-300 hover:shadow-[0px_0px_10px_-2px] p-2 rounded-lg cursor-pointer">
                <i class="pi pi-info-circle" style="font-size: 1.2rem;"></i>
                <p class="text-slate-100">
                    Ecuador . USD - Español
                </p>
            </section>

        </li>
        <li class="flex justify-center items-center gap-2">
            <section>
                <ul class="flex justify-center items-center text-slate-100 font-medium text-sm gap-4 px-8">
                    <li class="duration-300 hover:shadow-[0px_0px_10px_-2px] p-2 rounded-lg cursor-pointer">Ofertas de vuelo</li>
                    <li class="duration-300 hover:shadow-[0px_0px_10px_-2px] p-2 rounded-lg cursor-pointer">Mis viajes</li>
                    <li class="duration-300 hover:shadow-[0px_0px_10px_-2px] p-2 rounded-lg cursor-pointer">LifeMiles</li>
                    <li class="duration-300 hover:shadow-[0px_0px_10px_-2px] p-2 rounded-lg cursor-pointer">Ayuda</li>
                </ul>
            </section>
            <section class="flex justify-center items-center gap-2">
                <!-- <section
                    class="cursor-pointer flex justify-center items-center border-2 border-slate-200 p-2 rounded-full duration-300 hover:shadow-[1px_1px_10px_-2px_#ffffff]">
                    <i class="pi pi-users text-slate-100" style="font-size: 1.4rem"></i>
                </section> -->
                <i class="pi pi-bars text-slate-100 cursor-pointer duration-300 hover:drop-shadow-[1px_1px_10px_#ffffff]"
                    style="font-size: 1.4rem"></i>
            </section>
        </li>
    </ul>
</nav>