<nav class="sticky top-0 w-full z-10">
    <ul class="flex justify-between px-4 py-3 bg_gradient_purple">
        <li class="flex justify-center items-center group">
            <a href="/" class="">
                <img class="duration-300 group-hover:drop-shadow-[1px_1px_10px_#ffffff] w-16 cursor-pointer object-contain"
                    src="../../../assets/images/logo_white.png" alt="">
            </a>
            <section class="text-slate-100">
                <h1>Horizon Jet</h1>
                <p class="text-sm secondary_font">Volando hacia nuevos horizontes</p>
            </section>

        </li>
        <li class="flex justify-center items-center">
            <section
                class="flex justify-center items-center border-2 border-slate-200 p-2 rounded-full duration-300 hover:shadow-[1px_1px_10px_-2px_#ffffff]">
                <i class="cursor-pointer pi pi-users text-slate-100" style="font-size: 1.4rem"></i>
            </section>
        </li>
    </ul>
</nav>