<app-cabecera></app-cabecera>
<div class="sequence">
    <div class="step active">Vuelos</div>
    <div class="step">Pasajeros</div>
    <div class="step">Servicios</div>
    <div class="step">Asientos</div>
    <div class="step">Pago</div>
    <div class="step">Confirmación</div>
</div>
<div class="page-header">
    <h1>Detalles del Vuelo</h1>

      <!-- Detalles de Ida -->
    <div *ngIf="tipoVuelo === 'ida'">
        <div class="flight-details">
          <div class="flight-info">
            <div class="flight-header">
                <img src="../../assets/iconos/Desde.png" alt="Icono de vuelo">
              <h2>Vuelo de ida</h2>
            </div>
            <p>{{ origenIda }} a {{ destinoIda }} - {{ fechaVueloIda }}</p>
            <p>Directo</p>
            <p>{{ horaSalidaIda }} - {{ horaLlegadaIda }}</p>
            <div class="cities">
              <span>{{ origenIda }}</span>
              <span>{{ destinoIda }}</span>
            </div>
            <img class="plane-icon" src="../../assets/iconos/Desde.png" alt="Icono de avión">
            <p>Número de avión: {{ numeroAvionIda }}</p>
          </div>
          <div class="class-info">
            <p>Clase</p>
            <h3>{{ tipoClaseIda }}</h3>
            <p>$ {{ costoBoletoIda | number:'1.2-2' }}</p>
          </div>
        </div>
      </div>
  
      <!-- Detalles de Ida y Vuelta -->
      <div *ngIf="tipoVuelo === 'idaVuelta'">
        <div class="flight-details">
          <div class="flight-info">
            <div class="flight-header">
              <img src="../../assets/iconos/Desde.png" alt="Icono de vuelo">
              <h2>Vuelo de ida</h2>
            </div>
            <p>{{ origenIda }} a {{ destinoIda }} - {{ fechaVueloIda }}</p>
            <p>Directo</p>
            <p>{{ horaSalidaIda }} - {{ horaLlegadaIda }}</p>
            <div class="cities">
              <span>{{ origenIda }}</span>
              <span>{{ destinoIda }}</span>
            </div>
            <img class="plane-icon" src="../../assets/iconos/Desde.png" alt="Icono de avión">
            <p>Número de avión: {{ numeroAvionIda }}</p>
          </div>
          <div class="class-info">
            <p>Clase</p>
            <h3>{{ tipoClaseIda }}</h3>
            <p>$ {{ costoBoletoIda | number:'1.2-2' }}</p>
          </div>
        </div>
  
        <div class="flight-details">
          <div class="flight-info">
            <div class="flight-header">
            <img class="plane-icon" src="../../assets/iconos/Desde.png" alt="Icono de avión">
              <h2>Vuelo de vuelta</h2>
            </div>
            <p>{{ destinoIda }} a {{ origenIda }} - {{ fechaVueloVuelta }}</p>
            <p>Directo</p>
            <p>{{ horaSalidaVuelta }} - {{ horaLlegadaVuelta }}</p>
            <div class="cities">
              <span>{{ destinoIda }}</span>
              <span>{{ origenIda }}</span>
            </div>
            <img class="plane-icon" src="../../assets/iconos/Hacia.png" alt="Icono de avión">
            <p>Número de avión: {{ numeroAvionVuelta }}</p>
          </div>
          <div class="class-info">
            <p>Clase</p>
            <h3>{{ tipoClaseVuelta }}</h3>
            <p>$ {{ costoBoletoVuelta | number:'1.2-2' }}</p>
          </div>
        </div>
      </div>

      <div class="total-section">
        <p>Total de tu reserva:</p>
        <p class="total-amount">$ {{ totalReserva | number:'1.2-2' }}</p>
        <button class="continue-button">Continuar</button>
      </div>
    


<app-pie></app-pie>
</div>