/* Estilos para el contenido de los tabs */
.mat-tab-group {
    background-color: #f2f2f2;
  }
  
  /* Cambiar el color de fondo del tab activo */
  .mat-tab-label-active {
    background-color: #3f51b5;
    color: white;
  }
  
  .title-row {
    position: relative;
    height: 50px; /* Ajusta la altura según tu diseño */
  }
  
  .title {
    position: absolute;
    top: 50%; /* Posición vertical */
    transform: translateY(-50%);
    font-size: 18px; /* Tamaño de fuente */
  }
  
  .left {
    left: 20px; /* Posición izquierda en píxeles */
  }
  
  .center {
    left: calc(40% - 75px); /* Posición centrada en píxeles (ajusta el valor según el ancho del título) */
  }
  
  .right {
    right: 350px; /* Posición derecha en píxeles */
  }
  /* Estilos personalizados para los componentes */
/* Estilos personalizados para los componentes */
/* Estilos personalizados para los componentes */
.custom-select,
.custom-date-picker,
.passenger-types-dropdown,
.custom-button {
    margin: 16px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 185px; /* Ajusta el ancho según tu preferencia */
}

/* Estilos para la lista de tipos de pasajero */
.passenger-types-list {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 1;
    left: 0; /* Alinear con el dropdown de pasajeros */
    width: 50%; /* Ancho completo */
}

.passenger-types-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

/* Alineación de ícono en el dropdown */
.passenger-types-dropdown mat-icon {
    margin-left: auto;
}
.passenger-dropdown-container {
    position: relative;
  }
  
  .passenger-types-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
  }
  
  .passenger-types-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .passenger-types-list li:last-child {
    border-bottom: none;
  }
  .custom-button {
    margin: 10px;
    margin-top: 20px;
    width: 140px;
    height: 50px;
    background-color: #030858; /* Color azul */
    color: white; /* Texto blanco */
    border-radius: 10px; /* Bordes redondos */
    font-size: 16px; /* Tamaño de fuente */
  }
  
