<head
    [ngClass]="{'grid-cols-[2fr_3fr_3fr_3fr_3fr_2fr]':selectedTrip?.code===OPTIONS_TRIP.ROUND_TRIP,'grid-cols-[2fr_3fr_3fr_3fr_2fr]':selectedTrip?.code===OPTIONS_TRIP.ONE_WAY}"
    class="bg-[#ffffff] shadow-[2px_2px_20px_-10px]  mx-auto grid grid-cols-5 gap-3 rounded-2xl px-3 py-2 w-[min(90%,1200px)]">
    <section class="flex flex-col justify-start gap-1 text-sm">
        <label class="text-[#75135d] font-medium">Opción</label>
        <p-dropdown [style]="{'width':'100%'}" [options]="tripOptions" [(ngModel)]="selectedTrip"
            optionLabel="name"></p-dropdown>
    </section>
    <section class="flex flex-col justify-start gap-1 text-sm">
        <label class="text-[#75135d] font-medium">Origen</label>
        <p-dropdown [style]="{'width':'100%'}" [options]="destinationOptions" [(ngModel)]="selectedOrigin"
            optionLabel="name"></p-dropdown>
    </section>
    <section class="flex flex-col justify-start gap-1 text-sm">
        <label class="text-[#75135d] font-medium">Destino</label>
        <p-dropdown [style]="{'width':'100%'}" [options]="destinationOptions" [(ngModel)]="selectedDestination"
            optionLabel="name"></p-dropdown>
    </section>
    <section class="flex flex-col justify-start gap-1 text-sm">
        <label class="text-[#75135d] font-medium">Salida</label>
        <p-calendar [style]="{'width':'100%'}" [(ngModel)]="selectedFromDate" dateFormat="dd/mm/yy"
            [showIcon]="true"></p-calendar>
    </section>

    <section *ngIf="selectedTrip && selectedTrip.code===OPTIONS_TRIP.ROUND_TRIP"
        class="flex flex-col justify-start gap-1 text-sm">
        <label class="text-[#75135d] font-medium">Regreso</label>
        <p-calendar [style]="{'width':'100%'}" [(ngModel)]="selectedToDate" dateFormat="dd/mm/yy"
            [showIcon]="true"></p-calendar>
    </section>
    <section class="flex flex-col justify-start gap-1 text-sm">
        <label class="invisible" for="">filtrar</label>
        <button (click)="searchFlights()"
            class="w-32 flex justify-center items-center gap-2 duration-300 border-2 border-[var(--primary-color)] hover:bg-transparent bg-[var(--primary-color)] text-slate-200 hover:text-[var(--primary-color)] px-3 py-1 rounded-lg mx-auto">
            <p>Buscar</p>
            <i class="pi pi-search"></i>
            <!-- href="/flight_detail/{{new_detail}}" -->

        </button>
    </section>
</head>
<main class="w-[min(90%,1200px)] mx-auto mt-4 text-sm">
    <p-table selectionMode="single" dataKey="id" [(selection)]="selectedFlight"
        *ngIf="listAndCountFlights&&listAndCountFlights.count>0" [value]="listAndCountFlights.data" [paginator]="true"
        [rows]="5" [showCurrentPageReport]="false"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let column of columns; let firstIteration = first" [style]="{'width':column.width}">
                    <section class="flex justify-start items-center gap-2">
                        <p>{{column.name}}</p>
                        <section
                            class="flex justify-center items-center h-7 w-7 cursor-pointer rounded-full p-0.5 bg-[var(--primary-color)] hover:bg-slate-200 duration-500 hover:text-[var(--primary-color)]">
                            <i *ngIf="!firstIteration" class="pi pi-sort-amount-down-alt"></i>
                        </section>
                    </section>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-flight let-index="rowIndex">
            <tr style="cursor: pointer;" (click)="flightSelect(flight)">
                <td style="text-align: center;" class="w-[5%]">{{ index + 1 }}</td>
                <td class="w-[22%]">{{ flight.origin }}</td>
                <td class="w-[22%]">{{ flight.destination }}</td>
                <td class="w-[22%]">{{ flight.departure |date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="w-[22%]">{{ flight.arrival |date:'dd/MM/yyyy HH:mm' }}</td>
            </tr>
        </ng-template>
    </p-table>
    <section *ngIf="listAndCountFlights&&listAndCountFlights.count<=0"
        class="flex flex-col justify-center items-center">
        <p>No se encontraron vuelos</p>
    </section>
</main>