<!-- Slider -->
<section id="image-slider">
    <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <img src="../../../assets/fotos/5e4c1d40582875.581130ebe6126.jpg" alt="Imagen 1">
            </div>
            <div class="slide">
                <img src="../../../assets/fotos/BANNER-LA-INSTITUCION.jpg" alt="Imagen 2">
            </div>
            <div class="slide">
                <img src="../../../assets/fotos/BANNERS-TURISMO-UIO-CUE-GYE_1923-x-836-banner-Guayaquil.webp" alt="Imagen 3">
            </div>
            <div class="slide">
              <img src="../../../assets/fotos/BANNERS-TURISMO-UIO-CUE-GYE_1923-x-836-banner-Quito.jpg" alt="Imagen 3">
          </div>
        </div>
    </div>
    <div class="arrow-container">
        <div class="arrow left">&lt;</div>
        <div class="arrow right">&gt;</div>
    </div>
</section>