<app-navbar></app-navbar>
<main class="min-h-[calc(100vh-116px)]">

    <section class="px-4 py-2">
        <h1 class="border-b-2 w-[200px] border-[var(--primary-color)]">Detalle de Vuelo</h1>
    </section>
    <ul *ngIf="flight!==undefined && flight !==null"
        class="mb-8 mt-5 py-2 px-4 flex flex-col gap-4 w-[min(90%,900px)] mx-auto shadow-[2px_2px_14px_-2px_#75135d]">
        <li class="flex justify-center gap-2">
            <h2 class="text-[var(--primary-color)] font-semibold">Código de vuelo:</h2>
            <p>{{flight.id}}</p>
        </li>
        <li class="flex flex-col justify-center gap-1">
            <header class="flex gap-2 items-center">
                <h2 class="text-[var(--primary-color)] font-semibold">Origen</h2>
                <p>{{ flight.departure |date:'dd/MM/yyyy HH:mm'}}</p>
            </header>
            <ul class="ml-3 text-sm">
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Ciudad:</h3>
                    <p>{{flight.airport_origin.city}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">País:</h3>
                    <p>{{flight.airport_origin.country}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Aeropuerto:</h3>
                    <p>{{flight.airport_origin.name}}</p>
                </li>
            </ul>
        </li>
        <li class="flex flex-col justify-center">
            <header class="flex gap-2 items-center">
                <h2 class="text-[var(--primary-color)] font-semibold">Destino</h2>
                <p>{{ flight.arrival |date:'dd/MM/yyyy HH:mm'}}</p>
            </header>
            <ul class="ml-3 text-sm">
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Ciudad:</h3>
                    <p>{{flight.airport_destination.city}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">País:</h3>
                    <p>{{flight.airport_destination.country}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Aeropuerto:</h3>
                    <p>{{flight.airport_destination.name}}</p>
                </li>
            </ul>
        </li>
        <li *ngIf="moreInformation" class="flex flex-col justify-center">
            <header class="flex gap-2 items-center">
                <h2 class="text-[var(--primary-color)] font-semibold">Información del avion</h2>
            </header>
            <ul class="ml-3 text-sm">
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Piloto:</h3>
                    <p>{{flight.pilot.name}} {{flight.pilot.lastname}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Modelo:</h3>
                    <p>{{flight.plane.model}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Capacidad:</h3>
                    <p>{{flight.plane.capacity}}</p>
                </li>
                <li class="flex justify-start gap-1 items-center">
                    <h3 class="text-[var(--primary-color)] font-semibold">Numero de serie:</h3>
                    <p>{{flight.plane.serial_number}}</p>
                </li>
            </ul>
        </li>
        <li>
            <button (click)="handleMoreInformation()"
                class="cursor-pointer flex justify-center items-center gap-2 duration-300 border-2 border-[var(--primary-color)] hover:bg-transparent bg-[var(--primary-color)] text-slate-200 hover:text-[var(--primary-color)] px-3 py-0.5 rounded-lg">
                <p>Mas</p>
                <i [ngClass]="{'rotate-180':moreInformation}" class="duration-300 pi pi-chevron-down"></i>
            </button>
        </li>
    </ul>
    <section class="mt-4 flex justify-center items-center gap-2">
        <a class="cursor-pointer w-32 flex justify-center items-center gap-2 duration-300 border-2 border-[var(--primary-color)] hover:bg-transparent bg-[var(--primary-color)] text-slate-200 hover:text-[var(--primary-color)] px-3 py-1 rounded-lg"
            href="/">Regresar</a>
        <a
            class="cursor-pointer w-32 flex justify-center items-center gap-2 duration-300 border-2 border-[var(--primary-color)] hover:bg-transparent bg-[var(--primary-color)] text-slate-200 hover:text-[var(--primary-color)] px-3 py-1 rounded-lg">Siguiente</a>

    </section>

</main>
<app-footer></app-footer>