<app-navbar></app-navbar>
<section class="min-h-[calc(100vh-116px)] overflow-hidden relative">
    <app-carousel></app-carousel>
    <section class="filter-bar-container w_standard_medium">
        <section class="">
            <p class="bg-[var(--primary-color)] w-max rounded-[20px_20px_0px_0px] px-4 py-1 text-2xl font-semibold text-slate-100">Reservar tu vuelo</p>
            <section class="bg-[var(--primary-color)] pl-2 pb-2 rounded-[0px_20px_20px_20px] ">
                <div class="shadow-[-2px_-2px_10px_-4px_#ffffff] rounded-[20px]">
                    <app-filter-bar></app-filter-bar>
                </div>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>